:root {
  --main-color: #757575;
  --secondary-color: #212121;
  --white-color: #ffffff;
  --accent-color: #2196f3;
  --footer-background: #2f303a;
}
.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  width: 1230px;
  outline: dotted violet;
  text-align: center;
  margin-bottom: 94px;
}
.no-margin {
  margin-bottom: 0;
}

.flex {
  display: flex;
}
.center {
  align-items: center;
}
.block {
  margin-left: 30px;
}
.just-cont {
  justify-content: space-between;
}
.no-mr {
  margin-left: 0;
}

h1,
h2,
h3,
h4,
ul,
p {
  margin-top: 0;
}

body {
  background: #ffffff;
  font-family: "Roboto", sans-serif;
  color: var(--main-color);
  letter-spacing: 0.03em;
  font-size: 16px;
  line-height: 1.2;
}

a {
  text-decoration: none;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  color: var(--accent-color);
  font-size: 26px;
  line-height: 1.2;
}
.black-logo {
  color: var(--secondary-color);
}
.nav-text.interactive.current {
  color: var(--accent-color);
}
ul {
  list-style: none;
  padding-inline-start: 0;
  margin-block-start: 0;
  margin-block-end: 0;
}
.interactive:hover,
.interactive:focus {
  color: var(--accent-color);
}
.list {
  list-style: none;
  color: var(--secondary-color);
}
.nav-text {
  color: var(--secondary-color);
  letter-spacing: 0.02em;
  margin-left: 50px;
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
}
.nav-text:first-child {
  margin-left: 85px;
}
.adress {
  margin-left: auto;
}

.black-text {
  color: var(--secondary-color);
  letter-spacing: 0.03em;
}
.e-mail {
  color: var(--accent-color);
}
.link-text {
  font-weight: 700;
  font-size: 18px;
  color: var(--secondary-color);
}
.hero-title {
  font-weight: 700;
  font-size: 44px;
  line-height: 1.2;
  letter-spacing: 0.06em;
  /* color: var(--white-color); */

  /* padding: 200px 252px 280px 252px; */
  padding-bottom: 0px;
  margin-bottom: 0;
}

.hero-order {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87px;
  letter-spacing: 0.06em;
  margin-top: 0;
}
.flex-container {
  display: flex;
  flex-wrap: wrap;
}
.flex-element {
  width: 370px;
  margin-right: 30px;
  margin-bottom: 30px;
}
.flex-element:nth-child(3n) {
  margin-right: 0;
}
.flex-element:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

.section-title {
  font-size: 14px;
  line-height: 16px;
  color: var(--secondary-color);
}
.paragraph {
  font-size: 14px;
  line-height: 24px;
  color: var(--main-color);
}
h2 {
  color: var(--secondary-color);
  margin-top: 0;
  margin-bottom: 50px;
  text-align: center;
}
h3 {
  margin-bottom: 10px;
}
h4 {
  margin-bottom: 16px;
}

.footer {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.2;
}
.bgcolor {
  background-color: #2f303a;
  text-align: center;
}
.button {
  font-family: inherit;
  display: inline-block;
  border-radius: 4px;
}
.button.primary {
  color: var(--white-color);
  background-color: var(--accent-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;

  padding: 10px 32px;
}
.button.secondry {
  color: var(--white-color);
  background-color: var(--footer-background);
  font-weight: 400;
  font-size: 16px;
}
.button.nav {
  color: var(--secondary-color);
  background-color: #f5f4fa;

  padding: 6px 22px;
  border: none;
}
.footer-address {
  display:;
  align-items:  ;
}
.join {
  margin-left: 69px;
  margin-right: 94px;
}
.subscribe
.all-footer {
 
}